* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F9FAFB;
    color: #374151;
}

/* Asset */

/* Button */

.btn-primary {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #3B82F6;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-primary:hover {
    background-color: rgb(30 64 175 / var(--tw-bg-opacity, 1));
}


.btn-secondary {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #6c757d;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-secondary:hover {
    background-color: #5C636A;
}

.btn-success {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #198754;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-success:hover {
    background-color: #157347;
}

#container {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    background-color: #FFFFFF;
    float: left;
}

.logo {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #4A90E2;
    border-bottom: 1px solid #E5E7EB;
}

#sidebar {
    flex: 1;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#sidebar ul {
    list-style-type: none;
}

#sidebar ul li {
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#sidebar a{
    display: inline-block;;
    padding: 15px 10px;
    text-decoration: none;
    color: #344054;
    width: 100%;
    border-radius: 5px;
}

#sidebar a.active{
    color: #615FFF;
    background-color: #ECF3FF;
}

#sidebar a:hover {
    background-color: #F2F4F7;
}

#navigation {
    height: 67px;
    width: 85%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
}

#navigation #nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #6B7280;
    cursor: pointer;
}

.info {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #344054;
    font-weight: bold;
}

.fa-moon, .fa-bell {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    width: 40px;
    height: 40px;
    color: #6B7280;
    border-radius: 50%;
    padding: 10.5px;
    border: 1px solid #E4E7EC;
}

.fa-moon:hover, .fa-bell:hover {
    background-color: #F2F4F7;
    color: #344054;
}

.fa-chevron-down, .fa-chevron-up {
    margin-left: 5px;
    color: #9CA3AF;
}

.fa-chevron-down:hover, .fa-chevron-up:hover {
    color: #6B7280;
}

#main-content {
    margin-left: 15%;
    padding: 20px;
    background-color: #F9FAFB;
}

.infoUser {
    width: 250px;
    display: none;
    position: absolute;
    top: 67px;
    right: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    color: #4A5567;
}

.info_content {
    padding: 10px;
}

.info_head {
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid #E5E7EB;
}

.info_item {
    margin-bottom: 5px;
    color: #344054;
    font-size: 0.9em;
}

.fa-envelope, .info_email {
    font-weight: normal;
    font-size: 0.9em;
}

.info_control {
    padding-top: 10px;
    border-bottom: 1px solid #E5E7EB;
}

.list-control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.info_control a {
    width: 100%;
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.info_control a:hover {
   background-color: #F2F4F7;
   color: #344054;
}

.info_signout {
    padding-top: 10px;
    width: 100%;
    display: flex;
}

.info_signout a {
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;

}

.info_signout a:hover {
    background-color: #F87171;
    color: #FFFFFF;
}

/* Css User Page */

.content_head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.content_head .right a{
    text-decoration: none;
    color: #959EA7;
    font-size: 0.9em;
}

.btn_nut {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
}

.content_container {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #F9FAFB;
  color: #344054;
  text-align: left;
}

thead th {
  padding: 12px 16px;
  font-weight: 600;
  border-bottom: 1px solid #E5E7EB;
}

tbody td {
  padding: 12px 16px;
  border-bottom: 1px solid #F3F4F6;
  color: #4B5563;
}

tbody tr:hover {
  background-color: #F9F9FC;
}

tbody tr:last-child td {
  border-bottom: none;
}

td button {
  padding: 6px 12px;
  margin-right: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.btn_edit {
  background-color: #E0F2FE;
  color: #198754;
  border: 1px solid #157347;
}

.btn_delete {
  background-color: #FEE2E2;
  color: #DC2626;
  border: 1px solid #DC2626;
}

th{
    border-bottom: 1px solid black;
    padding: 10px;
}

/* Lớp phủ nền khi mở modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* làm mờ nền */
    z-index: 999;
    display: none;
}

/* Modal */
.modal_adduser {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}

.modal_adduser.show {
    display: flex;
    animation: fadeInModal 0.3s ease-out;

}

@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.modal {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
}

.modal_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #DEE2E6;
    font-size: 1.2em;
}

.modal_header a {
    cursor: pointer;
    opacity: 0.5;
}

.modal_header a:hover {
    opacity: 1;
}

.modal_body {
    width: 100%;
    border-bottom: 1px solid #DEE2E6;
    padding: 15px;
}

.modal_footer {
    display: flex;
    padding: 15px;
    justify-content: flex-end;
}

.modal_footer button{
   margin-right: 10px;
}
 
.modal_list {
    width: 100%;
    font-weight: bold;
}

.list_info {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.list_info input{
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 0.9em;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    outline:none;
}

.list_info input:hover {
    border-color: #999;
}

.list_info input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.list_info input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.list_info input[type="date"]:hover {
    border-color: #999;
}

.list_info input[type="date"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.list_info label {
    margin-bottom: 5px;
}

.list_footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer_info {
    display: flex;
    flex-direction: column;
}

.footer_info label {
    margin-bottom: 5px;
}

.footer_info select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    width: 250px;
    font-size: 14px;
    appearance: none;
}

.footer_info select:hover {
    border-color: #999;
}

.footer_info select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}