<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./layout.css">
    <!-- icon fa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <!-- Sidebar -->
    <div id="container">
        <div class="logo">
            <i class="fa-solid fa-toolbox"></i>
            <span>TuyenCV Admin</span>
        </div>
        <div id="sidebar">
            <ul>
                <li onclick="loadPage('../../pages/dashboardPage.html', this)" class="active">DashBoard</li>
                <li onclick="loadPage('../../pages/usersPage.html', this)">User</li>
                <li onclick="loadPage('../../pages/jobsPage.html', this)">Job</li>
                <li onclick="loadPage('../../pages/settingPage.html', this)">Setting</li>
            </ul>
        </div>
    </div>
    
        <!-- Navigation -->
    <div id="navigation">
       
        <div id="nav-right">
            <span><i class="fa fa-bell"></i></span>
            <span><i class="fa fa-user-circle"></i></span>
            <span>name</span>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
    </div>

    <div id="main-content">
        <!-- Nội dung trang sẽ được tải ở đây -->
         ádasda
    </div>
    
    <!-- js -->
    <script src="./layout.js"></script>
</body>
</html>