* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F9FAFB;
    color: #374151;
}

#container {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    background-color: #FFFFFF;
    float: left;
}

.logo {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #4A90E2;
    border-bottom: 1px solid #E5E7EB;
}

#sidebar {
    flex: 1;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#sidebar ul {
    list-style-type: none;
}

#sidebar ul li {
    padding: 15px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    color: #344054;
    transition: background-color 0.3s;
}

#sidebar ul li:hover {
    background-color: #F2F4F7;
}
#sidebar ul li.active {
    background-color: #ECF3FF;
    color: #2563EB;
}

#navigation {
    height: 67px;
    width: 85%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
}

#navigation #nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #6B7280;
    cursor: pointer;
}

.info {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #344054;
    font-weight: bold;
}

.fa-moon, .fa-bell {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    width: 40px;
    height: 40px;
    color: #6B7280;
    border-radius: 50%;
    padding: 10.5px;
    border: 1px solid #E4E7EC;
}

.fa-moon:hover, .fa-bell:hover {
    background-color: #F2F4F7;
    color: #344054;
}

.fa-chevron-down, .fa-chevron-up {
    margin-left: 5px;
    color: #9CA3AF;
}

.fa-chevron-down:hover, .fa-chevron-up:hover {
    color: #6B7280;
}

#main-content {
    margin-left: 15%;
    padding: 20px;
    background-color: #F9FAFB;
}

.infoUser {
    width: 250px;
    display: none;
    position: absolute;
    top: 67px;
    right: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    color: #4A5567;
}

.info_content {
    padding: 10px;
}

.info_head {
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid #E5E7EB;
}

.info_item {
    margin-bottom: 5px;
    color: #344054;
    font-size: 0.9em;
}

.fa-envelope, .info_email {
    font-weight: normal;
    font-size: 0.9em;
}

.info_control {
    padding-top: 10px;
    border-bottom: 1px solid #E5E7EB;
}

.list-control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.info_control a {
    width: 100%;
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.info_control a:hover {
   background-color: #F2F4F7;
   color: #344054;
}

.info_signout {
    padding-top: 10px;
    width: 100%;
    display: flex;
}

.info_signout a {
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;

}

.info_signout a:hover {
    background-color: #F87171;
    color: #FFFFFF;
}

/* User Page */

